/* EVERYTHING IS MY CODE EXCEPT THE ONES I SPECIFIED ARE FROM A REFERENCED WEBSITE */
.container-fluid{
    background-color:lightgray;
    height: auto;
    width: 100%;
}

.header{
    height: auto;
    width: auto;
    background-color: #E0E0E0;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}

.list-logo{
    height: 30px;
    float: left;
    transition-duration: 0.5s;
}

.small-nav-header{
    overflow: hidden;
}

.small-cart-logo{
    height: 35px;
    float: right;
    transition-duration: 0.5s;
}

.small-cart-logo:hover{
    height: 38px;
}


.small-cart{
    float: right;
}

.small-nav-header .sub-content{
    display: none;
    z-index: 1;
}

.small-nav-header:hover .sub-content{
    display: block;
}

.sub-menu{
    max-width: 100%;
    background-color: lightgray;
    border: 1.5px solid #174b86;
    border-radius: 3px;
    box-shadow: 0px 2px 10px #0c1826;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    position:absolute;
    top: 110px;
    padding: 0.5em;
}

.sub-menu-items{
    font-family: 'Trebuchet MS';
    font-weight: 700;
    color: #174b86;    
}

.sub-menu-items:hover{
    color: whitesmoke;
}

.body{
    height: auto;
    width: auto;
    background-color: #E0E0E0;
    border-bottom: 1px solid lightgray;
}

.shop-page-body{
    height: auto;
    width: auto;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 3em;
}

.footer{
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
}



.col{
    background-color: #f6f6f6;
    width: 100%;
}


.contactbody{
    background-color:#f6f6f6;
    margin: auto;
    width: 50%;
    height: 550px;
}

.quicklinks-div{
    background-color: whitesmoke;
}

.quicklinks{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
}

.quicklinks-title{
    color: black;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quicklinks-items{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.contact-us-footer-div{
    background-color: whitesmoke;
}

.contact-us-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
}

.contact-us-title{
    color: black;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-titles{
    font-weight: bold;
}

.footer-descriptions{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.subscribe-footer-div{
    background-color: whitesmoke;
    margin-left: -1em;
}

.subscribe-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    margin-top: 58px;
}

.subscribe-title{
    color: black;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subscribe-submit[type=submit]{
    border: 2px solid #174b86;
    color: white;
    transition-duration: 0.5s;
    text-align: center;
    text-decoration: none;
    display:block;
    background-color: #174b86;
    padding:0.6em 1em;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    width: 90px;
}

.subscribe-submit:hover[type=submit]{
    background-color: white;
    color: #174b86;
    box-shadow: 0 12px 16px 0 #527db2, 0 17px 50px 0 #b8d3f1;
}

.copyright-footer{
    width: 100%;
    height: 100px;
    background-color:whitesmoke;
    margin-top: 0px;
    border-bottom: 1px solid lightgray;
}

.copyright{
    text-align: center;
    position: relative;
    color: greyS;
    font-size: 13px;
    position: relative;
    top: 40%;
}
/* LOGO AND LOGO TEXT */
.logo{ 
    /* MY CODE START */
    height: 40px;
    position: relative;
    top: -35px; /* FOR ADJUSTING LOGO/LOGO TEXT HORIZONTALLY */
    /* END */
    /* STYLES BELOW FROM "https://www.w3schools.com/howto/howto_css_image_center.asp" FOR CENTERING IMAGE */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logotext{
    font-size: 25px;
    font-family: 'Trebuchet MS';
    font-weight:600;
    color: #174b86;
    position: relative;
    top: 40px; /* FOR ADJUSTING LOGO/LOGO TEXT HORIZONTALLY */
    text-align: center;
}

a:link{
    text-decoration: none;
}

/* NAVICGATION MENU CONTENTS */
.navbar{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.navitems{
    font-size: 18px;
    font-family: 'Trebuchet MS';
    font-weight:600;
    color: #174b86;
    transition-duration: 0.5s;
    /* PADDING-LEFT FEATURE TO SHIFT IT TO THE RIGHT TO AVOID BEING TOO CLOSE TO THE LOGO */
    position: relative;
    top: 20px;
}

.navitems:hover{
    color: royalblue;
}

.navicons{
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.5s;
}

.navicons:hover{
    height: 43px;
}

@media screen and (max-width: 576px) { 
    .icon-header, .navbar-header{ 
      display: none; 
      border-bottom: 0px solid lightgray;
    } 

    .small-nav-header, .small-cart{
        display: block;
    }

}

@media screen and (min-width: 576px){
    .small-nav-header,.small-cart{
        display: none;
    }
}

/* HOME BODY */

.shopnow-a{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.shopnow-button{
    border: 1px solid #174b86;
    color: white;
    transition-duration: 0.5s;
    text-align: center;
    text-decoration: none;
    display:block;
    background-color: #174b86;
    padding:0.6em 1em;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
    line-height:1;
    width: 200px;
    height: 50px;

}

@media(max-width:500px) {
    .shopnow-button {height: 35px; width: 100px; font-size: 10px;}
  }
  
.shopnow-button:hover{
    background-color: white;
    color: #174b86;
    box-shadow: 0 12px 16px 0 #182638, 0 17px 50px 0 #132438;
}

.mainimage-div{
    background-color: white;
    height: auto;
    padding-top: 50px;
    padding-bottom:30px;
    }

.mainimage{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 88%;
    height: auto;
    width: auto;
    margin-bottom: 50px ;
}

.featured-products-div{
    background-color: white;
    height: auto;
    padding-bottom: 60px;
}

.featured-products-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 40px;
}

.featured-products-list{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

.home-products{
    height: 150px;
    padding-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.items{
    display: inline-block;
}

.home-product-description{
    font-family: 'Trebuchet MS';
    text-align: center;
    color: black;
    font-size: 14px;
}

.home-price{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* SHOP TABLE */
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 1em;
}

.product-title{
    text-align: center;
    font-size: 30px;
}

.product-container .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 15px 5px #b8d3f1;
    text-align: center;
}

.card img{
    max-width: 100%;
    margin-top: 1em;
}

.card .product-price{
    margin-bottom: 2.2em;
    font-size: 20px;
    text-align: left;
    margin-left: 0.5em;
}

.card .product-name{
    font-size: 13px;
    font-weight: 500; 
    text-align: left;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.add-to-cart{
    background-color: #174b86;
    border-radius: 3px;
    border: 2px solid #174b86;
    color: white;
    padding: 5px 15px;
    text-align: center;
    transition-duration: 0.5s;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 90%;
    position: absolute;
    bottom: 0px;
    margin-left: -5px;
    margin-bottom: 1em;
}

.add-to-cart:hover{
    background-color: whitesmoke;
    color: #174b86;
    box-shadow: 0 12px 16px 0 #527db2, 0 17px 50px 0 #b8d3f1;
}

/* INFORMATION ABOUT BLU MOBILE */
.about{
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
}

.about-div{
    background-color: black;
    height: auto;
}

.about-us{
    font-size: 30px;
    font-family: 'Trebuchet MS';
    text-align: center;
}

/* CONTACT PAGE EMAIL */

.contact{
    font-family: 'Trebuchet MS';
    font-size: 40px;
    position: relative;
    top: 15px;
    text-align: center;
}

.email{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: 300;
    position: relative;
    top: 15px;
    font-size: 20px;
    text-align: center;
}

/* CONTACT PAGE FORM */

form{
	padding: 1em;
}

::placeholder{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 100;
    color:dimgray;
    padding: 5px;
  }

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
	padding: 0;
	margin: 0;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    resize: none;
}

input[type=submit]{
    background-color: #174b86;
    border-radius: 3px;
    border: 2px solid #174b86;
    color: white;
    padding: 5px 25px;
    text-align: center;
    transition-duration: 0.5s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

input[type=submit]:hover{
    background-color: whitesmoke;
    color: #174b86;
    box-shadow: 0 12px 16px 0 #527db2, 0 17px 50px 0 #b8d3f1;
}

/* SENT MESSAGE AFTER FORM SUBMISSION */

.senttext{
    font-family: 'Trebuchet MS';
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
  
/* SHOPPING CART SECTION */
/* THIS CSS STYLE WAS GOTTEN FROM https://www.codehim.com/collections/javascript-shopping-cart-examples-with-demo/ BUT HAS BEEN HEAVILY MODIFIED */
.col-sm-3{
    border-collapse: collapse;
    /* BORDER THICKNESS SET TO 5PX */
    border-radius:5px;
    padding:1.5em;
}
.cartbutton, input[type="submit"]{ /* FOR EMPTY CART AND CHECKOUT BUTTONS */
    /* BORDER THICKNESS AND COLOUR */
    border: 2px solid #174b86;
    /* CART TEXT COLOUR */
    color: white;
    /* CHANGES COLOUR OF BUTTON AFTER 0.4 SECONDS */
    transition-duration: 0.4s;
    /* MY CODE START */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #174b86;
    padding:0.6em 1em;
    font-size: 16px;
    border-radius: 20px;
    /* END */
    line-height:1; 
    
}
/* MY CODE START */
.cartbutton:hover{
    background-color: white;
    color: #174b86;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

  
.cart-table{
    margin-bottom:1em;
    border-collapse:collapse;
}

.cart-table td, .cart-table th{
    text-align:left;
    padding:0.25em 1em;
    border-bottom:1px solid whitesmoke;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}
/* END */

#carttotals{
    margin-right:0;
    margin-left:auto;
}
/* MY CODE START */
.cart-buttons{
    width:auto;
    margin-right:0;
    margin-left:auto;
    padding:1em 0;
}
/* END */
#emptycart{
    margin-right:1em;
}

.cart-table td:nth-last-child(1){
    /* ALIGN TEXT T THE RIGHT */
    text-align:right;
}

/* CHECKOUT FORM */
.input2[type=text], .input2[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.textarea2 {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    resize: none;
}

.input2[type=submit]{
    background-color: #174b86;
    border-radius: 3px;
    border: 2px solid #174b86;
    color: white;
    padding: 5px 25px;
    text-align: center;
    transition-duration: 0.5s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.input2[type=submit]:hover{
    background-color: whitesmoke;
    color: #174b86;
    box-shadow: 0 12px 16px 0 #527db2, 0 17px 50px 0 #b8d3f1;
}